.dropzone {
    border: 1px dashed black;
}

.dropzone .dz-default {
    display: none;
}

.feature-buttons .btn {
    color: #6c757d!important;
    font-size: 16px;
    width: 80%;
}

.tox-tinymce {
    height: 300px!important;
}

.uppy-Dashboard-inner {
    width: 100%!important;
    height: 350px!important;
}

.uppy-Dashboard-AddFiles {
    margin: 0px!important;
}


.feature-buttons-mobile .btn {
    color: #6c757d!important;
    font-size: 15px;
    width: 75%;
}